extends layout

block content
  h1= title
  p Welcome to #{title}

  #querydiv
    select(id="type")
      option(value="all",selected) all
      option(value="name") name
      option(value="sex") sex
    input(id="q",type="text",placeholder="")  
  br
  a(href="javascript:void(0)",class="read") read 
  br
  br
  a(href="javascript:void(0)",class="create") create
  br
  br
  a(href="javascript:void(0)",class="update") update
  br
  br 
  a(href="javascript:void(0)",class="delete") delete

  #loadpage
  br
  br
  h3 post 
 
      form(action="/",method="post",)
        label age:
        input(type="text",name="age",value="18")
        br
        label name:
        input(type="text",name="name",value="ff")
        br
        input(type="submit")

     div(class="span7",style="margin-top:20px;",ng-controller="TableFilterCtrl")    
      div
        lable Search:
        br      
        input(type="text",ng-model="search.$")
        br  
        lable Name
        br      
        input(type="text",ng-model="search.name")
        br  
        lable Sex
        br          
        input(type="text",ng-model="search.sex")
        br
        label Equality:
        input(type="checkbox",ng-model="strict")
        br
        br
        input(type="button",class="btn",ng-click="read()",value="read")
        span 
          input(type="button",class="btn",ng-click="create()",value="create")		
        span 
          input(type="button",class="btn",ng-click="del()",value="del")
        br
        br

      table(class="table table-striped table-bordered")
        thead
          tr
            td 編號
            td 姓名
            td 性別
            td ID
        tbody
          tr(ng-repeat="friend in friends | filter:search:strict")
            td {{ $index + 1 }}
            td {{ friend.name }}
            td {{ friend.sex }}
            td {{ friend._id }}
            
            
 
  
