doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
     style(type='text/css')

  body
    block content

    script(src="/javascripts/jquery-1.8.3.min.js")
    script(src="/javascripts/main.js")